Django==1.11.2
Pillow==2.5.1
PyYAML==3.11
Unidecode==0.04.18
argh==0.25.0
django-admin-sortable2==0.6.13
django-appconf==1.0.2
django-bower==5.2.0
django-braces==1.4.0
django-classy-tags==0.5.1
django-compressor==2.0
django-el-pagination==3.1.0
django-extensions==1.7.9
django-filer==1.2.7
django-lineage==0.2.0
django-mptt==0.8.7
django-polymorphic==1.2
django-sekizai==0.10.0
django-shell-plus==1.1.5
django-taggit==0.22.0
django-taggit-templatetags2==1.6.1
django-tastypie==0.13.3
django-templatetag-sugar==1.0
easy-thumbnails==2.4.1
gunicorn==19.0.0
meld3==1.0.0
pathtools==0.1.2
psycopg2==2.7.1
python-dateutil==2.3
python-mimeparse==0.1.4
pytz==2014.4
six==1.7.3
watchdog==0.8.0
wsgiref==0.1.2
