{% load sekizai_tags %}
<div id="gallery_wrapper"></div>

<canvas class="gallery" width=356px height=162px style="margin-bottom: -6px; margin-left: 1px;">
    <p>Your browser doesn't support canvas! Try Chrome, Firefox or Opera</p>
</canvas>

{% addtoblock "js" %}
    <script type="text/javascript">

        $(function () {
            $(".gallery").each(function (index) {

                $(this).kenburns({
                    images: [{% for image in images %}'{{ image.image.url }}',{% endfor %}],
                    links: [{% for image in images %}'{{ image.link }}',{% endfor %}],
                    frames_per_second: 30,
                    display_time: 7000,
                    fade_time: 1000,
                    zoom: 2,
                    background_color: '#000000',
                    post_render_callback: function ($canvas, context) {
                        /*
                         // Called after the effect is rendered
                         // Draw anything you like on to of the canvas
                         context.save();
                         context.fillStyle = '#000';
                         context.font = 'bold 20px sans-serif';
                         var width = $canvas.width();
                         var height = $canvas.height();
                         var text = "html5 galore!";
                         var metric = context.measureText(text);

                         context.fillStyle = '#fff';

                         context.shadowOffsetX = 3;
                         context.shadowOffsetY = 3;
                         context.shadowBlur = 4;
                         context.shadowColor = 'rgba(0, 0, 0, 0.8)';

                         context.fillText(text, width - metric.width - 8, height - 8);

                         context.restore();
                         */
                    }
                });
            });
        });
    </script>
{% endaddtoblock %}