{% load i18n el_pagination_tags thumbnail %}
{% lazy_paginate 100 projects %}

<div class="row full" style="padding-left: 15px;">
    <ul class="large-block-grid-4">
        {% for project in projects %}

        <li class="project {{project.category.slug}}">

            <a href="{% url 'project_detail' slug=project.slug %}" rel="bookmark" title="{{project.title}}">
                <div class="project_box">
                    <div class="project_title">{{ project.title }}</div>
                    <img class="project_teaser" src="{% thumbnail project.teaser.file 640x480 crop %}" alt="" />
                </div>
            </a>

        </li>

        {% endfor %}
    </ul>
</div>

{% show_more "<div class='row left'><div class='button load_more small-12 medium-12 large-12 columns'>load more</div></div>" "<div class='row left'><div class='button load_more small-12 medium-12 large-12 columns'>loading…</div></div>"%}