{% load i18n %}
{% load endless %}
{% lazy_paginate 100 projects %}

<div class="row full">
    <div class="large-6 medium-12 small-12 columns">
        <ul class="large-block-grid-2" data-equalizer>
            <li class="project {{projects.0.category.slug}}" data-equalizer-watch>
                <a href="{% url 'project_detail' slug=projects.0.slug %}" rel="bookmark" title="{{projects.0.title}}">
                    <div class="project_box">
                        <div class="project_title">{{ projects.0.title }}</div>
                        <img src="{{projects.0.teaser.url}}"  />
                    </div>
                </a>
            </li>
            <li class="project {{projects.1.category.slug}}" data-equalizer-watch>
                <a href="{% url 'project_detail' slug=projects.1.slug %}" rel="bookmark" title="{{projects.1.title}}">
                    <div class="project_box">
                        <div class="project_title">{{ projects.1.title }}</div>
                        <img src="{{projects.1.teaser.url}}"/>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row full">
    <div class="large-6 medium-12 small-12 columns">
        <ul class="large-block-grid-3" data-equalizer>
            {% for project in projects|slice:"2:" %}
            <li class="project {{project.category.slug}}" data-equalizer-watch>
                <a href="{% url 'project_detail' slug=project.slug %}" rel="bookmark" title="{{project.title}}">
                    <div class="project_box">
                        <div class="project_title">{{ project.title }}</div>
                        <img src="{{project.teaser.url}}" />
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% show_more "<div class='row left'><div class='button load_more large-4 medium-4 small-4 columns'>load more</div></div>" "<div class='row left'><div class='button load_more large-4 medium-4 small-4 columns'>loading…</div></div>"%}