{% extends 'base.html' %}
{% load i18n %}
{% block main %}
    <div class="row full">
        <div class="blog_title">{{ project.title }}</div>
        {% include "projects/subline.html" %}
        <p>
            <i>{{ project.tease|safe }}</i>
        </p>
        <p>
            {{ project.body|safe }}
        </p>
    </div>
    <div class="row full">
        <span class="left"><a href="{{ object.get_previous }}"><<</a></span>
        <span class="right"><a href="{{ object.get_next }}">>></a></span>
    </div>
{% endblock %}