{% load sekizai_tags gallery_tags taggit_extras %}
<div id="{{ id|default:'sidebar' }}">

    {% if id != "sidebar_mobile" %}
    <h3 class="sidebar_title">Gallery</h3>
    <div>
        {% gallery_inline "Main" %}
    </div>
    {% endif %}

    <h3 class="sidebar_title">Contact</h3>
    <div class="sidebar_inner">
        <a href="javascript:contact()" style="font-size: 16px;">office / at / stahlnow / com</a><br/>
    </div>

    <h3 class="sidebar_title">Tags</h3>
    <div class="sidebar_inner tag_cloud">
        {% get_tagcloud as tags %}
        {% for tag in tags %}
        <span class="tag-{{ tag.weight|floatformat:0 }}">
            <a href="/show/{{ tag.name }}" title="{{ tag.num_times }}">{{ tag.name }}</a>
        </span>
        {% endfor %}
    </div>

    <h3 class="sidebar_title">Meta</h3>
    <div class="sidebar_inner">
        <a href="/archive" style="font-size: 16px;">Archive</a>
    </div>
</div>