{% load i18n endless %}
{% lazy_paginate posts %}
{% for post in posts %}
<div class="row full">
    <a class="blog_title" href="{% url 'post_detail' slug=post.slug %}" rel="bookmark" title="{% trans 'permalink' %}">{{ post.title }}</a>
    {% include "blog/subline.html" %}
    {% if post.tease %}
    {{ post.tease|safe }}<br />
    <a href="{% url 'post_detail' slug=post.slug %}" title="{% trans 'View this post' %}">Read more...</a>
    {% else %}
    {{ post.body|safe }}
    {% endif %}
</div>
{% endfor %}
{% show_more "<div class='row left'><div class='button load_more small-12 medium-12 large-12 columns'>load more</div></div>" "<div class='row left'><div class='button load_more large-12 medium-12 small-12 columns'>loading…</div></div>"%}