{% load i18n el_pagination_tags %}
{% lazy_paginate posts %}
{% for post in posts %}
<div class="row full">
    <a class="blog_title" href="{% url 'post_detail' slug=post.slug %}" rel="bookmark" title="{% trans 'permalink' %}">{{ post.title }}</a>
    {% include "blog/subline.html" %}
    {% if post.tease %}
    {{ post.tease|safe }}<br />
    <a href="{% url 'post_detail' slug=post.slug %}" title="{% trans 'View this post' %}">Read more...</a>
    {% else %}
    {{ post.body|safe }}
    {% endif %}
</div>
{% endfor %}
    {% show_more "<div class='row'><div class='small-10 medium-10 medium-centered large-6 large-centered columns'><button class='expand button radius load_more'>LOAD MORE</button></div></div>" "<div class='row'><div class='button load_more large-12 medium-12 small-10 columns'>WAITING FOR 200 OK… ;-)</div></div>"%}