{% extends 'base.html' %}
{% load i18n %}
{% load sekizai_tags %}
{% load endless %}

{% block main %}

{% if posts %}
{% include page_template %}
{% addtoblock "js" %}
<script>
    $.endlessPaginate({
        onCompleted: function() {
            $('pre code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
        }
    });
</script>
{% endaddtoblock %}

{% else %}
<div class="row full">
    <div class="large-12 columns">
        <p>No posts found!!! :(</p>
    </div>
</div>
{% endif %}

{% endblock %}